<div class="card" (click)="onShowDetail($event)">
    <div class="card__start">
        <button class="pin-button" (click)="onPinCard()"
            [ngStyle]="{'background-color': detailData.pined ? 'black' : '' }">
            <img [src]="detailData.pined ? unPinIcon : pinIcon" alt="">
        </button>
        <div class="card__title">

            <div class="card__top">
                <h1>
                    {{detailData.blend_name}}
                </h1>
                <span>
                    {{detailData.variety}}
                </span>
            </div>
            <p>
                {{detailData.origin}}
            </p>
        </div>

    </div>
    <span *ngIf="!arrowShowing" class="arrow">
        <img src="../../../assets/icons/CaretRight.svg" alt="">
    </span>
</div>